/* h1,
h2,
h3.location {
    font-weight: 200;
} */

a,
body,
html {
    color: #fff
}

body,
html {
    background-color: #020f16;
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-image: url('Images/index-background.jpg');
    background-size: cover;
    background-position: center;
}

.wrap {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.container {
    text-align: center;
    width: 650px;
    margin: auto
}

h1 {
    font-size: 52px
}

h2 {
    margin-bottom: 0
}

h3.location {
    margin-top: 10px
}

a:hover {
    text-decoration: none;
    color: #d0d0d0;
    cursor: pointer
}

.socialIcons {
    padding: 20px;
    font-size: 26px;
    margin: auto;
    text-align: center;
}

#githubIcon, 
#linkedinIcon, 
#emailIcon {
    padding-left: 20px;
}

.technologies {
    background-color: #020f16;
    margin: auto;
    width: 650px;
    word-spacing: 7px;
    font-size: 0.9em;
    padding: 8px;
    text-align: center;
    }

#techHeading {
    font-size: 28px;
}

#jsappButton,
#cvButton,
#nodeJsButton {
  width: 12.5em;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 2% 2%;
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
}

#mobile{
    padding-bottom: 8px;
    margin: auto;
    text-align: center;
}

.bio {
    background-color: white;
    color: black;
    font-size: 0.9em;
    padding-bottom: 2.5%;
}

.homepageButtons {
    margin: auto;
    text-align: center;
    padding: 40px;
}

@media(max-width:960px) {
    .container {
    width: 90%
    }

}